//! **************************************************************************
// Written by: Map P.20131013 on Wed Jan 24 17:16:54 2024
//! **************************************************************************

SCHEMATIC START;
COMP "Y<1>" LOCATE = SITE "L14" LEVEL 1;
COMP "Y<2>" LOCATE = SITE "H18" LEVEL 1;
COMP "Y<3>" LOCATE = SITE "N17" LEVEL 1;
COMP "sum<0>" LOCATE = SITE "F12" LEVEL 1;
COMP "sum<1>" LOCATE = SITE "E12" LEVEL 1;
COMP "sum<2>" LOCATE = SITE "E11" LEVEL 1;
COMP "sum<3>" LOCATE = SITE "F11" LEVEL 1;
COMP "sum<4>" LOCATE = SITE "C11" LEVEL 1;
COMP "sum<5>" LOCATE = SITE "D11" LEVEL 1;
COMP "sum<6>" LOCATE = SITE "E9" LEVEL 1;
COMP "cout" LOCATE = SITE "F9" LEVEL 1;
COMP "PB1" LOCATE = SITE "V4" LEVEL 1;
COMP "PB2" LOCATE = SITE "H13" LEVEL 1;
COMP "PB3" LOCATE = SITE "K17" LEVEL 1;
COMP "Y<0>" LOCATE = SITE "L13" LEVEL 1;
COMP "PB4" LOCATE = SITE "D18" LEVEL 1;
NET "PB4_BUFGP/IBUFG" BEL "PB4_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
NET "PB1_BUFGP/IBUFG" BEL "PB1_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
NET "PB2_BUFGP/IBUFG" BEL "PB2_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
NET "PB3_BUFGP/IBUFG" BEL "PB3_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
SCHEMATIC END;

